.text {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  background: rgb(232, 235, 242);
  color: rgb(22, 22, 22);
  font-weight: bold !important;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: border-box !important;
  width: 100%;
  background: white;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.link {
  margin-top: 0px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 20px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  background: rgb(232, 235, 242);
  width: 100%;
  border-end-end-radius: 5px;
  border-end-start-radius: 5px;
}

.more {
  color: white;
  background-color: rgb(77, 102, 147);
  margin-right: 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tag {
  color: rgb(39, 134, 132) !important;
  background-color: rgb(240, 248, 247) !important;
  border: 2px solid rgb(39, 134, 132);
  border-radius: 10px !important;
}
