.text {
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  border-radius: 5px;
  background: rgb(232, 235, 242);
}

.answer {
  color: rgb(22, 22, 22);
  font-weight: bold !important;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  flex-wrap: wrap;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  box-sizing: border-box !important;
  width: 100%;
  background: white;
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.more {
  color: white;
  background-color: rgb(77, 102, 147);
  margin-right: 5px;
  border-radius: 10px;
  padding-left: 10px;
  padding-right: 10px;
}

.tag {
  color: rgb(39, 134, 132) !important;
  background-color: rgb(240, 248, 247) !important;
  border: 2px solid rgb(39, 134, 132);
  border-radius: 10px !important;
}

.linkBox {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
}

@media (max-width: 768px) {
  .linkBox {
    display: flex;
    flex-direction: column !important;
    font-size: 0.8em !important;
  }
  .answer {
    font-size: 0.8em !important;
    text-align: left;
  }
}
